body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: rgb(177, 233, 244);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
    border: 2px solid #000000;
}

.profile-container h1 {
    color: #333;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-details {
    text-align: left;
}

.profile-details p {
    margin: 5px 0;
    color: #555;
}

body {
    background-color: lightblue;
}

